<div class="card ml-3 mr-3 mt-3">
  <div class="card-header">
    <h5>Add a review for {{ movie.name }}</h5>
    <h4 *ngIf="this.myError"> {{ this.myError.message }} </h4>
  </div>
  <div class="card-body">
    <form (submit)="addReview(movie._id)">
      <div class="form-group">
        <label for="formGroupExampleInput2">Your Name:</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name="newReview.reviewer" [(ngModel)]="newReview.reviewer">
        <h6 *ngIf="this.newReview.reviewer.length < 3 && this.newReview.reviewer.length > 0"> Your name must be at least 3 characters </h6>
      </div>
      <label for="formGroupReview">Review:</label>
      <div class="form-group ml-4" id="formGroupReview">
        <div class="form-group">
<!--          <label for="formGroupExampleStars">Stars:</label>-->
<!--          <input type="text" class="form-control" id="formGroupExampleStars" name="newReview.rating" [(ngModel)]="newReview.rating">-->
          <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="newReview.rating" [(ngModel)]="newReview.rating">
            <option selected>Choose...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="formGroupExampleContent">Your Review:</label>
          <input type="text" class="form-control" id="formGroupExampleContent" name="newReview.content" [(ngModel)]="newReview.content">
          <h6 *ngIf="this.newReview.content.length < 3 && this.newReview.content.length > 0"> Review be at least 3 characters </h6>
        </div>
      </div>
      <input class="btn btn-primary" [disabled] = "this.newReview.reviewer.length < 3 && this.newReview.reviewer.length > 0 || this.newReview.content.length < 3 && this.newReview.content.length > 0" type="submit" value="Submit"/>
      <button class="btn btn-primary ml-3"  [routerLink]="['/movies', movie._id]">Cancel</button>
    </form>
  </div>
</div>
